{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center ms-4 mt-4 position-relative z-1">
                <h1 class="fw-bold mb-3">Welcome to&nbsp;<strong class="text-primary">Little&nbsp;</strong><strong
                        class="text-secondary">Lemon!</strong></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="booking_form" class="bg-box-theme" method="post">
                {% csrf_token %}
                <h2 class="text-center">New Booking</h2>
                <div><label class="form-label" for="branch">Branch
                    <br>
                    <select class="form-control form-input form-select" id="branch" name="branch" required>
                        <option value="Vellore">Vellore</option>
                      </select>
                    <span class="validity"></span></label></div>
                <div><label class="form-label" for="name">Your Name
                    <br>
                    <input class="form-control form-input" type="text"
                            id="name" name="name" placeholder="Enter Your Name" required autofocus
                            autocomplete="True"><span class="validity"></span></label></div>
                <div><label class="form-label" for="phone">Phone Number
                    <br>
                    <input class="form-control form-input"
                            type="text" id="phone" name="phone" placeholder="Enter Phone Number(10 digits)"
                            minlength="10" maxlength="10" required autocomplete="True"><span
                            class="validity"></span></label></div>
                <div><label class="form-label" for="no_of_guests">No. of Guests
                    <br>
                    <input class="form-control form-input" type="number"
                            id="no_of_guests" name="no_of_guests" placeholder="Enter Number of Guests" value="1" min="1"
                            max="10" required><span class="validity"></span></label></div>
                <div><label class="form-label" for="booking_date">Booking Date
                    <br>
                    <input class="form-control form-input" id="booking_date" name="booking_date" type="date" required><span
                            class="validity"></span></label></div>
                <div>
                    <label class="form-label" for="start_time_display">Booking time
                        <br>
                        <input class="form-control form-input" type="text" id="start_time_display" required>
                    </label>
                    <input type="hidden" id="start_time" name="start_time" required>
                </div>
                <!-- Duration Buttons -->
                <div class="my-2">
                    <label class="form-label d-block">Select Duration</label>
                    <button type="button" class="btn btn-outline-primary duration-btn" data-duration="30">30 mins</button>
                    <button type="button" class="btn btn-outline-primary duration-btn" data-duration="60">60 mins</button>
                    <button type="button" class="btn btn-outline-primary duration-btn" data-duration="90">90 mins</button>
                </div>

                <div>
                    <label class="form-label" for="end_time_display">Up to<br>
                        <input class="form-control form-input" type="text" id="end_time_display" disabled required>
                    </label>
                    <input type="hidden" id="end_time" name="end_time" required>
              </div>
                <div><label class="form-label">Message
                    <br>
                    <textarea class="form-control" id="message"
                            name="message"></textarea></label></div>
                <div><button id="submit_booking_Btn" class="btn button-primary" type="submit">Book Now!</button></div>
            </form>
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="text-center">My Bookings</h2>
        
                <div class="search-container mb-3">
                    <input type="text" id="search_booking" class="form-input" placeholder="Search by name, email or phone">
                    <button onclick="fetchBookings(1)" class="btn button-primary">Search</button>
                </div>
        
                <div id="booking-container" class="booking-container"></div>
                <nav>
                    <ul class="pagination justify-content-center" id="pagination"></ul>
                </nav>
            </section>
        </div>
    </div>
</div>
{% endblock %}