{% extends 'base.html' %}
{% load static %}

{% block nav-about %}<a class="nav-link active" href="{% url 'about' %}">AboutShyam</a>{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>About us</h2>
            <p>Based in Vellore, Tamilnadu, India, Little Lemon is a family owned Mediterranean restaurant, focused on
                traditional recipes served with a modern twist.</p>
            <p>The chefs draw inspiration from Italian, Greek, and Turkish culture and have a menu of 12-15 items that
                they rotate seasonally.</p>
            <p>The restaurant has a rustic and relaxed atmosphere with moderate prices, making it a popular place for a
                meal any time of the day.</p>
            <p>Little Lemon is owned by two Italian brothers, Mario and Adrian, who moved to the India to pursue their
                shared dream of owning a restaurant.</p>
            <p>To craft the menu, Mario relies on family recipes and his experience as a chef in Italy.</p>
        </div>
        <div class="col-md-4">
            <figure class="figure"><img class="img-fluid figure-img" src="{% static 'img/chefs/mario-and-adrian.jpg' %}"
                    alt="Mario and Adrian">
                <figcaption class="figure-caption text-center">Little Lemon owners Mario and Adrian.</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="font-weight-bold mb-2">Our Team</h2>
            <p class="font-italic text-muted mb-4"></p>

            <div class="row pb-5 mb-4">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="{% static 'img/chefs/Adrian.jpg' %}" alt=""
                                class="w-100 card-img-top">
                            <div class="p-4">
                                <h5 class="mb-0">Adrian</h5>
                                <p class="small text-muted">Founder & Head Chef</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="{% static 'img/chefs/Mario.jpg' %}" alt=""
                                class="w-100 card-img-top">
                            <div class="p-4">
                                <h5 class="mb-0">Mario</h5>
                                <p class="small text-muted">Co-Founder & Chef</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/dhanrajshyam/" class="social-link"><i
                                                class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}