{% load static %}

{% url 'home' as home %}
{% url 'about' as about %}
{% url 'menu' as menu %}
{% url 'book' as book %}
{% url 'user_sign_up' as user_sign_up %}
{% url 'login' as login %}
{% url 'logout' as logout %}

<header class="site-header">
    <nav class="navbar navbar-expand-md fs-5 py-0 mt-xxl-1 pt-xxl-0 pb-xxl-0">
        <div class="container">
            <a id="littlelemon-logo" class="navbar-brand d-flex align-items-center" href="{{ home }}"><img class="img-fluid" src="{% static 'img/logo/Little_Lemon_Horizontal-wobg.png' %}" width="181" height="66"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item"><a id="nav-home" class="nav-link {% if request.path == home %}active{% endif %}" href="{{ home }}">Home</a></li>
                    <li class="nav-item"><a id="nav-about" class="nav-link {% if request.path == about %}active{% endif %}" href='{{ about }}'>About</a></li>
                    <li class="nav-item"><a id="nav-menu" class="nav-link" href="{{ menu }}">Menu</a></li>
                    <li class="nav-item"><a id="nav-book" class="nav-link" href="{{ book }}">Book</a></li>
                    <li class="nav-item">
                        <a class="nav-link" id="themeToggle" role="button" href="#">
                            <p style="display:inline;" id="themeIcon">
                                &nbsp;&nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1" data-bss-disabled-mobile="true" data-bss-hover-animate="jello">
                                    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                                </svg>&nbsp;&nbsp;
                            </p>

                        </a>
                    </li>                    
                    {% if request.user.is_authenticated %}
                        <li id="logout" class="nav-item"><a class="nav-link" href="{{ logout }}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a id="sign-up" class="btn swing animated ms-md-2 button-primary" role="button" href="{{ user_sign_up }}">Sign up</a></li>
                        <li class="nav-item"><a id="login" class="btn ms-md-2 button-primary" role="button" href="{{ login }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>